@charset "UTF-8";
h1 {
  color: orange;
  background-color: black;
}

h2 {
  color: green;
  font-size: 20pt;
}

p {
  color: blue;
  font-size: 16pt;
}

.mystyle {
  border: double;
  color: pink;
}
